---
import '../styles/global.css'
import Footer from '../components/Footer.astro'
---
<body>
<a href="/">Home</a>
<a href="/about/">About</a>
<h1>About CS First Aid</h1>
<p>This site is under construction for readability.</p>
<Footer/>
</body>