---
import Base_Layout from '../layouts/base_layout.astro' // Component and layout names always start with a capital letter
---
<Base_Layout page_title="CS First Aid: Home">
  <h2>Inside layout</h2>
</Base_Layout>