---
import Chapter_Item from './chapter_item.astro'
const chapters = Object.values(import.meta.glob('../content/docs/*.md', { eager: true }))
// const chapters = Object.values(import.meta.glob('../pages/ch/*.md', { eager: true }))
// const chapters = [] // params of import.meta.glob only accepts string literals
// chapters.push(...Object.values(import.meta.glob(`../pages/ch/Preface.md`, { eager: true })))
// chapters.push(...Object.values(import.meta.glob(`../pages/ch/Things that must start or complete as soon as possible.md`, { eager: true })))
---
<div id="main-menu" class="nav-links">
  {chapters.map((chapter: any) => (<Chapter_Item title={chapter.frontmatter.title} URL={chapter.url} />))}
</div>
<!--<div>-->
<!--  <pre>-->
<!--    {JSON.stringify(chapters, null, 2)}-->
<!--  </pre>-->
<!--</div>-->