---
import Root_Menu from './root_menu.astro' // Component and layout names always start with a capital letter
import Chapter_Selector from './chapter_selector.astro';
---
<header>
  <nav>
    <Root_Menu/>
    <Chapter_Selector/>
  </nav>
</header>