---
import Root_Menu from './root_menu.astro' // Component and layout names always start with a capital letter
import Chapter_Selector from './chapter_selector.astro';
import Theme_Icon from './theme_icon.astro';
---
<header>
  <nav>
    <div>
      <Theme_Icon/>
      <Root_Menu/>
    </div>
    <Chapter_Selector/>
  </nav>
</header>
<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>