---
const chapters = Object.values(import.meta.glob('../pages/ch/*.md', { eager: true }))
---
<div id="main-menu" class="nav-links">
  {chapters.map((chapter: any) => (<a href={chapter.url}>{chapter.frontmatter.title}</a>))}
</div>
