---
import Header from '../components/header.astro' // Component and layout names always start with a capital letter
import Footer from '../components/footer.astro'
import '../styles/global.css'
const { page_title } = Astro.props
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}>
  <title>{ page_title }</title>
</head>
<body>
<Header/>
<slot/>
<Footer/>
<script>
  import "../scripts/menu.js"
</script>
</body>
</html>