---
import '../styles/global.css'
import Base_Layout from './base_layout.astro' // Component and layout names always start with a capital letter
const { frontmatter } = Astro.props
---
<Base_Layout page_title={frontmatter.title}>
<h1 class="title">{frontmatter.title}</h1>
<p>{frontmatter.author}</p>
<p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
<slot/>
</Base_Layout>